# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Compiled executables
*.exe
*.out
*.app

# Build folders
build/
bin/

# C++ Build files
Makefile
CMakeLists.txt
cmake-build-debug/
CMakeFiles/
Debug/
Release/
*.gcda
*.gcno

# Editor and IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.obj
*.ncb
*.aps
*.clw
*.pdb
*.ilk
*.aps
*.apsx
*.log
*.pch
*.sdf
*.opensdf

# Misc
*.log
*.bak
*.DS_Store